In [2]:
import pandas as pd
import pandera as pa

In [7]:
df = pd.read_csv("ocorrencia_2010_2020.csv", sep = ";", parse_dates=['ocorrencia_dia'], dayfirst=True)

In [30]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [58]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.Object, pa.Check.str_matches(r'^([0-1]?[0-9]?)|[2][0-3]:([0-5][0-9]):([0-5][0-9])?$'), nullable=True)     
    }
)

In [54]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0

In [59]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [60]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [65]:
df['ocorrencia_uf'].unique()

array(['RJ', 'PA', 'MT', 'RS', 'BA', 'AM', 'PR', 'MG', 'SP', 'DF', 'AC',
       'TO', 'SC', 'GO', 'MA', 'ES', 'PE', 'RR', 'MS', 'CE', 'AP', 'AL',
       'RO', 'SE', 'PB', 'PI', 'RN', '**'], dtype=object)

In [66]:
df['ocorrencia_aerodromo'].unique()

array(['****', 'SBBE', 'SBRJ', 'SBPK', 'SBUY', 'SBCA', 'SBMT', 'SBBR',
       'SNGU', 'SBGL', 'SBCZ', 'SBPF', 'SBBI', 'SBGR', 'SBPJ', 'SBJC',
       'SBFL', 'SNCL', 'SBGO', 'SNTY', 'SBSR', 'SBVT', 'SBPC', 'SBSV',
       'SBCT', 'SBCY', 'SWLC', 'SBJR', 'SBEG', 'SBPR', 'SBLO', 'SBRB',
       'SBSM', 'SSBL', 'SBMK', 'SBSP', 'SBCF', 'SBUL', 'SWUZ', 'SWNS',
       'SBFZ', 'SNVR', 'SBPN', 'SSUV', 'SBKP', 'SWNV', 'SBSJ', 'SBML',
       'SBPA', 'SBME', 'SDPY', 'SWOZ', 'SNEM', 'SBBH', 'SJCY', 'SBSL',
       'SBMA', 'SWKC', 'SBMO', 'SBJD', 'SDAM', 'SBCJ', 'SNUZ', 'SBPS',
       'SBJV', 'SNFX', 'SBPL', 'SWXV', 'SBAR', 'SBNF', 'SBRF', 'SSZW',
       'SWRD', 'SWLV', 'SSGP', 'SDOI', 'SBAE', 'SNDV', 'SSKS', 'SBMG',
       'SBQV', 'SBIP', 'SBAT', 'SWFR', 'SBBV', 'SBJP', 'SSVN', 'SSPS',
       'SDPW', 'SBSN', 'SNDT', 'SSKZ', 'SBUR', 'SBTE', '*****', 'SBBU',
       'SNXT', 'SBRP', 'SSCF', 'SSIE', 'SBCG', 'SBAQ', 'SBIZ', 'SBBP',
       'SSOG', 'SIXE', 'SNPC', '###!', 'SNWS', 'SNAU', 'SDLO', 'SNGG',
       'SBNT', 'SWDC', 'SWUI', 'SDJA', 'SDTK', 'SBNM', 'SDKE', 'SNRU',
       '####', 'SBAU', 'SDAA', 'SBHT', 'SBCP', 'SDIO', 'SWJW', 'SNFJ',
       'SBUF', 'SSTH', 'SBRD', 'SSNH', 'SBTK', 'SDET', 'SDVE', 'SSSC',
       'SWRO', 'SBIL', 'SDTB', 'SSKT', 'SNJO', 'SNIG', 'SBCB', 'SDOR',
       'SWNO', 'SDCO', 'SWFN', 'SNPD', 'SDBB', 'SWCA', 'SDMC', 'SSNG',
       'SIBX', 'SNDR', 'SJHG', 'SIRS', 'SIPO', 'SDBV', 'SJTO', 'SSER',
       'SSBN', 'SDAI', 'SNWC', 'SDVH', 'SNOD', 'SBBW', 'SWXQ', 'SBBZ',
       'SNOF', 'SSKG', 'SBGW', 'SBMQ', 'SSXO', 'SNTF', 'SWMV', 'SSCR',
       'SNAZ', 'SDBK', 'SBTD', 'SDBN', 'SDTF', 'SDRK', 'SJHR', 'SWEK',
       'SIQE', 'SSOS', 'SBFI', 'SILT', 'SSDO', 'SSNB', 'SBMS', 'SWKO',
       'SNKB', 'SBDN', 'SDXF', 'SNDH', 'SJPT', 'SSOK', 'SSHS', 'SSSB',
       'SBTF', 'SDCD', 'SNKE', 'SNGV', 'SWYH', 'SSCE', 'SNYE', 'SNHH',
       'SDMV', 'SWPY', 'SBJF', 'SNSW', 'SJDU', 'SSRZ', 'SBPP', 'SDIH',
       'SBLJ', 'SSQZ', 'SDNE', 'SDRS', 'SBMY', 'SWCZ', 'SSAQ', 'SDIP',
       'SIPU', 'SDUB', 'SNAG', 'SNCJ', 'SSDP', 'SBPV', 'SDDQ', 'SBMD',
       'SWOB', 'SNXI', 'SSKK', 'SWSI', 'SSKM', 'SWBB', 'SBVH', 'SWNB',
       'SDIM', 'SJOG', 'SDHU', 'SSAK', 'SWPI', 'SBTR', 'SION', 'SJRG',
       'SWGP', 'SSTL', 'SWEN', 'SDPN', 'SDVL', 'SSCN', 'SWTS', 'SSQT',
       'SBFS', 'SNGA', 'SDJL', 'SDDN', 'SDEN', 'SNKI', 'SIVU', 'SDLL',
       'SNVB', 'SJFU', 'SSJI', 'SJVO', 'SNKF', 'SSLT', 'SDJB', 'SBTT',
       'SBVG', 'SSAY', 'SDVI', 'SBFN', 'SSCT', 'SDHP', 'SSKW', 'SSPL',
       'SJNP', 'SWJN', 'SDYW', 'SDTI', 'SNBG', 'SSPG', 'SSIQ', 'SNXR',
       'SNMU', 'SBCX', 'SBST', 'SNUN', 'SDMJ', 'SDBA', 'SJLO', 'SWGN',
       'SNXW', 'SSPQ', 'SIFH', 'SNPJ', 'SNKK', 'SNBR', 'SJBY', 'SBAN',
       'SWNH', 'SSIJ', 'SIJG', 'SWUQ', 'SDRE', 'SSRS', 'SDAG', 'SDED',
       'SNDC', 'SWPD', 'SNFE', 'SBKG', 'SWEI', 'SDWV', 'SNBO', 'SSPX',
       'SIFC', 'SBJU', 'SSCP', 'SNMX', 'SSAC', 'SBUA', 'SNHE', 'SDJC',
       'SJLY', 'SSAU', 'SNCW', 'SJYR', 'SDEH', 'SWMW', 'SNPA', 'SWBE',
       'SNOG', 'SDEM', 'SDJO', 'SJQN', 'SIBH', 'SDOW', 'SDMM', 'SBGV',
       'SNVC', 'SIPY', 'SBCR', 'SSOL', 'SNJD', 'SDMH', 'SNHB', 'SNMH',
       'SBEK', 'SSZR', 'SDWC', 'SNBS', 'SSGA', 'SWMO', 'SSBG', 'SSSS',
       'SSPV', 'SSGB', 'SIMB', 'SWPA', 'SDWU', 'SNSG', 'SIKC', 'SWQI',
       'SDSC', 'SBFE', 'SDIG', 'SDYF', 'SWAQ', 'SNYS', 'SWIT', 'SBTV',
       'SISY', 'SNVS', 'SNPX', 'SNQV', 'SNBA', 'SNSH', 'SBJA', 'SDZX',
       'SBSG', 'SDPG', 'SWLB', '9PAA', 'SNJN', 'SSQI', 'SBBQ', 'SIFV',
       'SIRI', 'SDVG', 'SBTA', 'SIQK', 'SING', 'SSJA', 'SSPB', 'SNYR',
       'SDNH', 'SNLO', 'SSSZ', 'SNMD', 'SJNQ', 'SNCX', 'SWRZ', '9PFC',
       'SWPQ', 'SIQH', 'SSSE', 'SDLZ', 'SNZA', 'SIXD', 'SSBR', 'SSCL',
       '9PFX', 'SWIN', 'SNNL', 'SSPI', 'SJAH', 'SJLU', 'SSJL', 'SSFB',
       'SDNI', 'SWNK', 'SNTO', 'SDNB', 'SBLE', 'SDEE', 'SNYP', 'SWKT',
       'SWSL', 'SWGC', 'SBIH', 'SDKH', 'SBJI', 'SNCT', 'SDTO', 'SJFM',
       'SSFC', 'SNFS', '5JTI', 'SJXM', 'SWVZ', 'SWVR', 'SNKH', 'SSGX',
       'SWVI', 'SSNV', 'SWEJ', 'SBGP', 'SNDP', 'SBPB', 'SJWQ', 'SSZL',
       'SWUV', 'SNGQ', 'SJBM', 'SWEF', 'SNPY', 'SWHP', 'SIPB', 'SNGS',
       'SDPA', '9PHD', 'SSMH', 'SNJI', 'SNDU', 'SNGX', 'SNJR', 'SIJY',
       'SSMW', 'SNMA', 'SWJP', 'SNCV', 'SDQG', 'SWFV', 'SSCK', 'SWVC',
       'SNME', 'SNJK', 'SJBH', 'SWYV', 'SSUB', 'SWEW', 'SILC', 'SDGR',
       'SNQX', 'SNEJ', 'SWMZ', 'SSVA', 'SWFX', 'SIBO', 'SDVK', 'SNIZ',
       'SDVO', 'SNLF', 'SDLY', 'SJVL', 'SBIT', 'SJYG', 'SIVQ', 'SSGG',
       'SJIF', 'SDRV', 'SWGI', 'SWON', '9PSD', 'SNAL', 'SDYJ', 'SSDK',
       'SNAS', 'SSUL', 'SNRP'], dtype=object)

In [67]:
pd.concat([df['ocorrencia_uf'], df['ocorrencia_aerodromo']]).unique()

array(['RJ', 'PA', 'MT', 'RS', 'BA', 'AM', 'PR', 'MG', 'SP', 'DF', 'AC',
       'TO', 'SC', 'GO', 'MA', 'ES', 'PE', 'RR', 'MS', 'CE', 'AP', 'AL',
       'RO', 'SE', 'PB', 'PI', 'RN', '**', '****', 'SBBE', 'SBRJ', 'SBPK',
       'SBUY', 'SBCA', 'SBMT', 'SBBR', 'SNGU', 'SBGL', 'SBCZ', 'SBPF',
       'SBBI', 'SBGR', 'SBPJ', 'SBJC', 'SBFL', 'SNCL', 'SBGO', 'SNTY',
       'SBSR', 'SBVT', 'SBPC', 'SBSV', 'SBCT', 'SBCY', 'SWLC', 'SBJR',
       'SBEG', 'SBPR', 'SBLO', 'SBRB', 'SBSM', 'SSBL', 'SBMK', 'SBSP',
       'SBCF', 'SBUL', 'SWUZ', 'SWNS', 'SBFZ', 'SNVR', 'SBPN', 'SSUV',
       'SBKP', 'SWNV', 'SBSJ', 'SBML', 'SBPA', 'SBME', 'SDPY', 'SWOZ',
       'SNEM', 'SBBH', 'SJCY', 'SBSL', 'SBMA', 'SWKC', 'SBMO', 'SBJD',
       'SDAM', 'SBCJ', 'SNUZ', 'SBPS', 'SBJV', 'SNFX', 'SBPL', 'SWXV',
       'SBAR', 'SBNF', 'SBRF', 'SSZW', 'SWRD', 'SWLV', 'SSGP', 'SDOI',
       'SBAE', 'SNDV', 'SSKS', 'SBMG', 'SBQV', 'SBIP', 'SBAT', 'SWFR',
       'SBBV', 'SBJP', 'SSVN', 'SSPS', 'SDPW', 'SBSN', 'SNDT', 'SSKZ',
       'SBUR', 'SBTE', '*****', 'SBBU', 'SNXT', 'SBRP', 'SSCF', 'SSIE',
       'SBCG', 'SBAQ', 'SBIZ', 'SBBP', 'SSOG', 'SIXE', 'SNPC', '###!',
       'SNWS', 'SNAU', 'SDLO', 'SNGG', 'SBNT', 'SWDC', 'SWUI', 'SDJA',
       'SDTK', 'SBNM', 'SDKE', 'SNRU', '####', 'SBAU', 'SDAA', 'SBHT',
       'SBCP', 'SDIO', 'SWJW', 'SNFJ', 'SBUF', 'SSTH', 'SBRD', 'SSNH',
       'SBTK', 'SDET', 'SDVE', 'SSSC', 'SWRO', 'SBIL', 'SDTB', 'SSKT',
       'SNJO', 'SNIG', 'SBCB', 'SDOR', 'SWNO', 'SDCO', 'SWFN', 'SNPD',
       'SDBB', 'SWCA', 'SDMC', 'SSNG', 'SIBX', 'SNDR', 'SJHG', 'SIRS',
       'SIPO', 'SDBV', 'SJTO', 'SSER', 'SSBN', 'SDAI', 'SNWC', 'SDVH',
       'SNOD', 'SBBW', 'SWXQ', 'SBBZ', 'SNOF', 'SSKG', 'SBGW', 'SBMQ',
       'SSXO', 'SNTF', 'SWMV', 'SSCR', 'SNAZ', 'SDBK', 'SBTD', 'SDBN',
       'SDTF', 'SDRK', 'SJHR', 'SWEK', 'SIQE', 'SSOS', 'SBFI', 'SILT',
       'SSDO', 'SSNB', 'SBMS', 'SWKO', 'SNKB', 'SBDN', 'SDXF', 'SNDH',
       'SJPT', 'SSOK', 'SSHS', 'SSSB', 'SBTF', 'SDCD', 'SNKE', 'SNGV',
       'SWYH', 'SSCE', 'SNYE', 'SNHH', 'SDMV', 'SWPY', 'SBJF', 'SNSW',
       'SJDU', 'SSRZ', 'SBPP', 'SDIH', 'SBLJ', 'SSQZ', 'SDNE', 'SDRS',
       'SBMY', 'SWCZ', 'SSAQ', 'SDIP', 'SIPU', 'SDUB', 'SNAG', 'SNCJ',
       'SSDP', 'SBPV', 'SDDQ', 'SBMD', 'SWOB', 'SNXI', 'SSKK', 'SWSI',
       'SSKM', 'SWBB', 'SBVH', 'SWNB', 'SDIM', 'SJOG', 'SDHU', 'SSAK',
       'SWPI', 'SBTR', 'SION', 'SJRG', 'SWGP', 'SSTL', 'SWEN', 'SDPN',
       'SDVL', 'SSCN', 'SWTS', 'SSQT', 'SBFS', 'SNGA', 'SDJL', 'SDDN',
       'SDEN', 'SNKI', 'SIVU', 'SDLL', 'SNVB', 'SJFU', 'SSJI', 'SJVO',
       'SNKF', 'SSLT', 'SDJB', 'SBTT', 'SBVG', 'SSAY', 'SDVI', 'SBFN',
       'SSCT', 'SDHP', 'SSKW', 'SSPL', 'SJNP', 'SWJN', 'SDYW', 'SDTI',
       'SNBG', 'SSPG', 'SSIQ', 'SNXR', 'SNMU', 'SBCX', 'SBST', 'SNUN',
       'SDMJ', 'SDBA', 'SJLO', 'SWGN', 'SNXW', 'SSPQ', 'SIFH', 'SNPJ',
       'SNKK', 'SNBR', 'SJBY', 'SBAN', 'SWNH', 'SSIJ', 'SIJG', 'SWUQ',
       'SDRE', 'SSRS', 'SDAG', 'SDED', 'SNDC', 'SWPD', 'SNFE', 'SBKG',
       'SWEI', 'SDWV', 'SNBO', 'SSPX', 'SIFC', 'SBJU', 'SSCP', 'SNMX',
       'SSAC', 'SBUA', 'SNHE', 'SDJC', 'SJLY', 'SSAU', 'SNCW', 'SJYR',
       'SDEH', 'SWMW', 'SNPA', 'SWBE', 'SNOG', 'SDEM', 'SDJO', 'SJQN',
       'SIBH', 'SDOW', 'SDMM', 'SBGV', 'SNVC', 'SIPY', 'SBCR', 'SSOL',
       'SNJD', 'SDMH', 'SNHB', 'SNMH', 'SBEK', 'SSZR', 'SDWC', 'SNBS',
       'SSGA', 'SWMO', 'SSBG', 'SSSS', 'SSPV', 'SSGB', 'SIMB', 'SWPA',
       'SDWU', 'SNSG', 'SIKC', 'SWQI', 'SDSC', 'SBFE', 'SDIG', 'SDYF',
       'SWAQ', 'SNYS', 'SWIT', 'SBTV', 'SISY', 'SNVS', 'SNPX', 'SNQV',
       'SNBA', 'SNSH', 'SBJA', 'SDZX', 'SBSG', 'SDPG', 'SWLB', '9PAA',
       'SNJN', 'SSQI', 'SBBQ', 'SIFV', 'SIRI', 'SDVG', 'SBTA', 'SIQK',
       'SING', 'SSJA', 'SSPB', 'SNYR', 'SDNH', 'SNLO', 'SSSZ', 'SNMD',
       'SJNQ', 'SNCX', 'SWRZ', '9PFC', 'SWPQ', 'SIQH', 'SSSE', 'SDLZ',
       'SNZA', 'SIXD', 'SSBR', 'SSCL', '9PFX', 'SWIN', 'SNNL', 'SSPI',
       'SJAH', 'SJLU', 'SSJL', 'SSFB', 'SDNI', 'SWNK', 'SNTO', 'SDNB',
       'SBLE', 'SDEE', 'SNYP', 'SWKT', 'SWSL', 'SWGC', 'SBIH', 'SDKH',
       'SBJI', 'SNCT', 'SDTO', 'SJFM', 'SSFC', 'SNFS', '5JTI', 'SJXM',
       'SWVZ', 'SWVR', 'SNKH', 'SSGX', 'SWVI', 'SSNV', 'SWEJ', 'SBGP',
       'SNDP', 'SBPB', 'SJWQ', 'SSZL', 'SWUV', 'SNGQ', 'SJBM', 'SWEF',
       'SNPY', 'SWHP', 'SIPB', 'SNGS', 'SDPA', '9PHD', 'SSMH', 'SNJI',
       'SNDU', 'SNGX', 'SNJR', 'SIJY', 'SSMW', 'SNMA', 'SWJP', 'SNCV',
       'SDQG', 'SWFV', 'SSCK', 'SWVC', 'SNME', 'SNJK', 'SJBH', 'SWYV',
       'SSUB', 'SWEW', 'SILC', 'SDGR', 'SNQX', 'SNEJ', 'SWMZ', 'SSVA',
       'SWFX', 'SIBO', 'SDVK', 'SNIZ', 'SDVO', 'SNLF', 'SDLY', 'SJVL',
       'SBIT', 'SJYG', 'SIVQ', 'SSGG', 'SJIF', 'SDRV', 'SWGI', 'SWON',
       '9PSD', 'SNAL', 'SDYJ', 'SSDK', 'SNAS', 'SSUL', 'SNRP'],
      dtype=object)

In [78]:
df.loc[0,'ocorrencia_cidade']

'RIO DE JANEIRO'

In [77]:
max(df.ocorrencia_dia.dt.year)

2020

In [76]:
df.loc[2:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [79]:
df.loc[0:2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0

In [80]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [81]:
df['ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [83]:
df.ocorrencia_cidade

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [85]:
df['codigo_ocorrencia'].is_unique

True

In [86]:
df.codigo_ocorrencia.is_unique

True

In [ ]:
#para salvar a mudança no dataframe posso salvar por cima ou usar o argumento inplace
#df = df.set_index('codigo_ocorrencia')
df.set_index('codigo_ocorrencia', inplace = True)

In [ ]:
df.head()

In [ ]:
df.loc[40349, 'ocorrencia_cidade']

In [ ]:
# para voltar ao normal, temos o reset
df.reset_index(drop = True, inplace = True)

In [ ]:
df.head()

In [87]:
# alterando valores
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [90]:
df.loc[df.ocorrencia_uf == 'SP']
# aonde a ocorrencia_uf é igual a SP, a ocorrencia classificacao foi alterada para grave

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8
16,39809,39809,INCIDENTE,SÃO PAULO,SP,****,2010-01-15,15:00:00,0
18,39828,39828,INCIDENTE,SANTOS,SP,****,2010-01-15,17:45:00,0
26,39847,39847,INCIDENTE,SOROCABA,SP,****,2010-01-20,13:10:00,0
27,39768,39768,INCIDENTE,CAMPINAS,SP,****,2010-01-21,20:45:00,0
...,...,...,...,...,...,...,...,...,...
5704,79739,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,0
5705,79705,79705,INCIDENTE GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,0
5715,79718,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,0
5742,79800,79800,INCIDENTE,SÃO PAULO,SP,SBMT,2020-12-28,10:15:00,0
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0

## Comecando a limpeza de fato

In [92]:
df = pd.read_csv("ocorrencia_2010_2020.csv", sep = ";", parse_dates=['ocorrencia_dia'], dayfirst=True)

In [96]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA

In [97]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [98]:
df.isna()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
5747,False,False,False,False,False,False,False,False,False
5748,False,False,False,False,False,True,False,False,False
5749,False,False,False,False,False,False,False,False,False
5750,False,False,False,False,False,True,False,False,False
5751,False,False,False,False,False,False,False,False,False

In [99]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2181
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [101]:
df.replace(['**', '###!', '####', '****', '*****', 'NULL'], pd.NA, inplace = True)

In [102]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

 ## Ao usar o pd.NA, o pandas me oferece formas de tratar os valores NA

In [4]:
df.fillna(10, inplace = True)

In [5]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [8]:
df.isna().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             1
total_recomendacoes         0
dtype: int64

In [107]:
df.replace(10, pd.NA, inplace = True)

In [108]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            2
dtype: int64

In [110]:
df.fillna(value = {'total_recomendacoes': 10}, inplace = True)

In [111]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [121]:
df['coluna_teste'] = 20

In [119]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,coluna_teste
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0,20
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,20
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,20
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0,20
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,20

In [123]:
#Se eu deixar o padrao do axis = 0, ele tenta apagar a linha
#df.drop(['coluna_teste'], axis = 1, inplace = True)
# ou
df.drop(columns = 'coluna_teste', inplace = True)

In [124]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

## Removendo linhas

In [126]:
df.set_index('ocorrencia_uf', inplace = True)

In [127]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
ocorrencia_uf,,,,,,,,
RJ,40211,40211,INCIDENTE,RIO DE JANEIRO,<NA>,2010-01-03,12:00:00,0
PA,40349,40349,INCIDENTE,BELÉM,SBBE,2010-01-03,11:05:00,0
RJ,40351,40351,INCIDENTE,RIO DE JANEIRO,SBRJ,2010-01-03,03:00:00,0
MT,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,<NA>,2010-01-04,17:30:00,0
RS,40324,40324,INCIDENTE,PELOTAS,SBPK,2010-01-05,19:25:00,0

In [130]:
# Removendo a UF RJ
df.drop("RJ", axis = 0, inplace = True)

KeyError: "['RJ'] not found in axis"

In [131]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
ocorrencia_uf,,,,,,,,
PA,40349,40349,INCIDENTE,BELÉM,SBBE,2010-01-03,11:05:00,0
MT,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,<NA>,2010-01-04,17:30:00,0
RS,40324,40324,INCIDENTE,PELOTAS,SBPK,2010-01-05,19:25:00,0
BA,39807,39807,INCIDENTE,SALVADOR,<NA>,2010-01-06,17:53:00,0
AM,40215,40215,INCIDENTE,COARI,SBUY,2010-01-07,18:40:00,0

In [133]:
df.reset_index(inplace = True)

In [134]:
df.head()

,ocorrencia_uf,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,PA,40349,40349,INCIDENTE,BELÉM,SBBE,2010-01-03,11:05:00,0
1,MT,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,<NA>,2010-01-04,17:30:00,0
2,RS,40324,40324,INCIDENTE,PELOTAS,SBPK,2010-01-05,19:25:00,0
3,BA,39807,39807,INCIDENTE,SALVADOR,<NA>,2010-01-06,17:53:00,0
4,AM,40215,40215,INCIDENTE,COARI,SBUY,2010-01-07,18:40:00,0

## posso excluir todos os valores que possuem NA

In [135]:
# remove todos os NA
df.dropna()

,ocorrencia_uf,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,PA,40349,40349,INCIDENTE,BELÉM,SBBE,2010-01-03,11:05:00,0
2,RS,40324,40324,INCIDENTE,PELOTAS,SBPK,2010-01-05,19:25:00,0
4,AM,40215,40215,INCIDENTE,COARI,SBUY,2010-01-07,18:40:00,0
6,PR,39156,39156,INCIDENTE GRAVE,CASCAVEL,SBCA,2010-01-10,23:15:00,2
9,SP,40069,40069,ACIDENTE,SÃO PAULO,SBMT,2010-01-10,14:50:00,8
...,...,...,...,...,...,...,...,...,...
5226,PR,79751,79751,ACIDENTE,PRESIDENTE CASTELO BRANCO,SSXO,2020-12-27,12:30:00,0
5228,SP,79800,79800,INCIDENTE,SÃO PAULO,SBMT,2020-12-28,10:15:00,0
5229,MG,79824,79824,ACIDENTE,RIO PARANAÍBA,SNRP,2020-12-28,17:00:00,0
5232,AC,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,SIMB,2020-12-29,18:30:00,0
5233,SP,79804,79804,INCIDENTE,CAMPINAS,SBKP,2020-12-29,19:00:00,0

In [136]:
# deleto os NA apenas da coluna ocorrencia_uf
df.dropna(subset = ['ocorrencia_uf'])

,ocorrencia_uf,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,PA,40349,40349,INCIDENTE,BELÉM,SBBE,2010-01-03,11:05:00,0
1,MT,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,<NA>,2010-01-04,17:30:00,0
2,RS,40324,40324,INCIDENTE,PELOTAS,SBPK,2010-01-05,19:25:00,0
3,BA,39807,39807,INCIDENTE,SALVADOR,<NA>,2010-01-06,17:53:00,0
4,AM,40215,40215,INCIDENTE,COARI,SBUY,2010-01-07,18:40:00,0
...,...,...,...,...,...,...,...,...,...
5231,PR,79755,79755,ACIDENTE,MATO RICO,<NA>,2020-12-29,10:30:00,0
5232,AC,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,SIMB,2020-12-29,18:30:00,0
5233,SP,79804,79804,INCIDENTE,CAMPINAS,SBKP,2020-12-29,19:00:00,0
5234,TO,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,<NA>,2020-12-30,18:30:00,0
5235,MS,79756,79756,INCIDENTE GRAVE,VICENTINA,<NA>,2020-12-31,09:00:00,0

In [137]:
df.drop_duplicates()

,ocorrencia_uf,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,PA,40349,40349,INCIDENTE,BELÉM,SBBE,2010-01-03,11:05:00,0
1,MT,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,<NA>,2010-01-04,17:30:00,0
2,RS,40324,40324,INCIDENTE,PELOTAS,SBPK,2010-01-05,19:25:00,0
3,BA,39807,39807,INCIDENTE,SALVADOR,<NA>,2010-01-06,17:53:00,0
4,AM,40215,40215,INCIDENTE,COARI,SBUY,2010-01-07,18:40:00,0
...,...,...,...,...,...,...,...,...,...
5231,PR,79755,79755,ACIDENTE,MATO RICO,<NA>,2020-12-29,10:30:00,0
5232,AC,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,SIMB,2020-12-29,18:30:00,0
5233,SP,79804,79804,INCIDENTE,CAMPINAS,SBKP,2020-12-29,19:00:00,0
5234,TO,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,<NA>,2020-12-30,18:30:00,0
5235,MS,79756,79756,INCIDENTE GRAVE,VICENTINA,<NA>,2020-12-31,09:00:00,0